<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
      class="com.optensity.appsymphony.artifacts.core.ptolemy.manager.PtolemyManagerCreator"
      scope="singleton">

   <bean id="jerseyResultPublisher"
      class="com.optensity.appsymphony.artifacts.integration.foss.jersey.resultpublisher.JerseyResultPublisher"
      scope="singleton">
      <constructor-arg index="0" value="https://localhost:8080/execution/results"/>
   </bean>

</beans>

